/* Landing Text Animation */
.textLine {
  position: relative;
  text-align: center;
  width: 100%;
  height: 10%;
  overflow: hidden;
}

.textAnimation {
  line-height: 110%;
  width: 100%;
  height: fit-content;
}

.animateText {
  transform: translateY(-50px);
  animation: slideInLeft 6s forwards;
}
@keyframes slideInLeft {
  0% {
    transform: translateY(-50px);
  }
  30% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}
/* Landing Text Animation */

/* Lottie SVGs animations */
.rightInOut {
  transform: translateX(200%);
}
.animateRight {
  /* if you change duration here| then need to change it in setTimeOut */
  animation: opacityIn 6s forwards, slideInRight 6s forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lottieContainer {
  /* height: 600px !important; */
  padding: 20px !important;

  overflow: hidden;
}
.lottieBigContainer {
  /* height: 600px !important; */
  padding: 50px !important;

  overflow: hidden;
}

/* Lottie SVGs animations */
